.CoworkersList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  gap: 2rem;
  max-width: 90rem;
  margin: auto;
  justify-content: center;

  @media screen and (min-width: 768px){
    grid-template-columns: repeat(auto-fill, 300px);

  }

  li {
    height: 100%;
  }
}
